body {
	overflow-y: scroll;
	font-family: Malgun Gothic;
	font-size: 20px;;
	width: 800px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	border: solid 1px;
}

#input-canvas-container {
	width: 300px;
	height: 300px;
	margin: 50px auto;
	border: 1px solid;
	position: relative;
}

#input-canvas {

}

#center-container {
	float: left;
	position: relative;
	left: 50%;
}

#center-container2 {
	position: relative;
	left: -50%;
	float: left;
	padding: 0;
	margin-top:20px;
	font-size: 80%;
}

button {
	display: block;
	padding: 25px;
	//font-size: 20px;
}